PRODUCT_SERVICE_BASE_URL=http://product-service:8082
ORDER_SERVICE_BASE_URL=http://order-service:8081
AUTH_SERVICE_BASE_URL=http://auth-service:8083
PAYMENT_SERVICE_BASE_URL=http://payment-service:8088


SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI=http://localhost:8083/.well-known/jwks.json